<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lx8</title>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="stylesheet" href="css/pannellum.css">
		<link rel="stylesheet" href="css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="js/jquery-3.js"></script>
		<script src="js/libpannellum.js"></script>
		<script src="js/pannellum.js"></script>
		<script src="js/smooth-scroll.js"></script>
	</head>
	<body>
		<header id="header">
			<div id="top"></div>
			<div class="navbar-fixed">
				<nav id="navbar">
					<div class="nav-wrapper">
						<div class="row">
							<div class="col s2 offset-s5 center">
								<a data-scroll href="#top">
									<img class="responsive-img center" src="imgs/lx8.svg" width="35vw" />
								</a>
							</div>
						</div>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a data-scroll href="#what">Streetview</a></li>
							<li><a data-scroll href="#portfolio">Portfolio</a></li>
							<li><a data-scroll href="#guarantee">Guarantee</a></li>
							<li><a data-scroll href="#form">Quote</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		<main>
			<div class="container-fluid">
				<div class="section noPadding" style="padding-top: 0;">
					<div class="row noMargin">
						<div class="z-depth-1 hoverable z-depth-3" id="panorama"></div>
					</div>
				</div>

				<div class="section item blue-grey lighten-2" id="what">
					<div class="row" style="opacity: 0;" id="whatcontent">
						<div class="col s10 blue-grey lighten-1 offset-s1 z-depth-3 hoverable">
							<div class="white-text" style="padding-top: 64px;">
								<div>
									<h2 class="center">Streetview</h2>
								</div>
								<div class="col s12">
									<p class="flow-text">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
										labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
										laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
										voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
										non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</p>
									<p class="flow-text">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
										laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
										architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
										voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
										consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
										dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
										exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
										consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
										nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section item" id="portfolio" style="">
					<div class="row" style="opacity: 0;" id="theportfolio">
						<div class="col s10 offset-s1" style="padding-top: 64px;">
							<h1 class="align-center center">Portfolio</h1>
						</div>

						<div class="col s12 m10 offset-m1">

							<div class="col s12 m3">
								<div class="card hoverable">
									<div class="card-image waves-effect waves-block waves-light">
										<img class="activator circle" src="imgs/copiloto.jpg">
									</div>
									<div class="card-content">
										<span class="card-title activator grey-text text-darken-4">Co-Piloto</span>
									</div>
									<div class="card-reveal">
										<span class="card-title grey-text text-darken-4">Co-Piloto<i class="material-icons right">close</i></span>
										<p>Here is some more information about this product that is only revealed once clicked on.</p>
									</div>
								</div>
							</div>

							<div class="col s12 m3">
								<div class="card hoverable">
									<div class="card-image waves-effect waves-block waves-light">
										<img class="activator circle" src="imgs/entrada.jpg">
									</div>
									<div class="card-content">
										<span class="card-title activator grey-text text-darken-4">Bandeirante</span>
									</div>
									<div class="card-reveal">
										<span class="card-title grey-text text-darken-4">Bandeirante<i class="material-icons right">close</i></span>
										<p>Here is some more information about this product that is only revealed once clicked on.</p>
									</div>
								</div>
							</div>

							<div class="col s12 m3">
								<div class="card hoverable">
									<div class="card-image waves-effect waves-block waves-light">
										<img class="activator circle" src="imgs/moca.jpg">
									</div>
									<div class="card-content">
										<span class="card-title activator grey-text text-darken-4">Moca de Bouque</span>
									</div>
									<div class="card-reveal">
										<span class="card-title grey-text text-darken-4">Moca de Bouque<i class="material-icons right">close</i></span>
										<p>Here is some more information about this product that is only revealed once clicked on.</p>
									</div>
								</div>
							</div>

							<div class="col s12 m3">
								<div class="card hoverable">
									<div class="card-image waves-effect waves-block waves-light">
										<img class="activator circle" src="imgs/sander.jpg">
									</div>
									<div class="card-content">
										<span class="card-title activator grey-text text-darken-4">Casa do Sander</span>
									</div>
									<div class="card-reveal">
										<span class="card-title grey-text text-darken-4">Casa do Sander</span><i class="material-icons right">close</i></span>
										<p>Here is some more information about this product that is only revealed once clicked on.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section item blue-grey lighten-2" id="guarantee">
					<div class="row" style="opacity: 0;" id="guaranteecontent">
						<div class="col s10 blue-grey lighten-1 offset-s1 z-depth-3 hoverable">
							<div class="white-text" style="padding-top: 64px;">
								<div>
									<h2 class="center">Guarantee</h2>
								</div>
								<div class="col s12 white-text">
									<p class="flow-text">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
										labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
										laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
										voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
										non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</p>
									<p class="flow-text">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
										laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
										architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
										voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
										consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
										dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
										exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
										consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
										nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section item valign-wrapper" id="form">
					<div class="row valign">
						<form class="col s10 offset-s1 z-depth-3 hoverable noOpacity" action="/form" method="post" id="theform">
							<div class="row" style="padding-top: 64px;">
								<div class="col s12">
									<h2 class="align-center center">Request a Quote</h2>
								</div>
								<div class="input-field col s4 offset-s2">
									<input id="first_name" type="text" class="validate">
									<label for="first_name">First Name</label>
								</div>
								<div class="input-field col s4">
									<input id="last_name" type="text" class="validate">
									<label for="last_name">Last Name</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s8 offset-s2">
									<input id="email" type="email" class="validate">
									<label for="email">Email</label>
								</div>
							</div>
							<button type="submit" class="waves-effect waves-light btn-large right">Send</button>
						</form>
					</div>
				</div>
			</div>
		</main>

		<footer class="page-footer" id="footer">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<h5 class="white-text">Lx8 Panoroma</h5>
						<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="The Brain">
							<div class="chip">
								<img src="imgs/alex.jpg" alt="Alexei">
								Alexei Ferreira
							</div>
						</a>
						<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="The Photographer">
							<div class="chip">
								<img src="imgs/cata.jpg" alt="Cata">
								Catarina Silveira
							</div>
						</a>
						<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="The Stitcher">
							<div class="chip">
								<img src="imgs/foo.jpg" alt="Fourat">
								Fourat Janabi
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container right">
					<p class="right">
						© 2016
					</p>
				</div>
			</div>
		</footer>

		<script src="js/jquery.matchHeight.js"></script>
		<script src="js/materialize.min.js"></script>
		<script src="js/velocity.ui.min.js"></script>
		<!-- Pannellum render   -->
		<script>
			pannellum.viewer('panorama', {
					"type": "equirectangular",
					"panorama": "imgs/pano.jpg",
					"autoLoad": true,
					"showFullscreenCtrl": false,
					"autoRotateInactivityDelay": "5000",
					"showZoomCtrl": false,
					"preview": "imgs/preview2.jpg",
					"mouseZoom": false,
					"autoRotate": -1
			});
		</script>
		<!-- Page animations via Materialize and Velocity -->
		<script>
			var options = [
				{selector: '#what', offset: 300, callback: function() {
					$('#whatcontent').velocity("transition.slideLeftBigIn", {duration: 1500})
				} },
				{selector: '#portfolio', offset: 300, callback: function() {
					$('#theportfolio').velocity("transition.slideRightBigIn", {duration: 1500, stagger: 300});
				} },
				{selector: '#guarantee', offset: 300, callback: function() {
					$('#guaranteecontent').velocity("transition.slideLeftBigIn", {duration: 1500})
				} },
				{selector: '#form', offset: 300, callback: function() {
					$('#theform').velocity("transition.slideRightBigIn", {duration: 1500})
				} }
				];
				Materialize.scrollFire(options);
		</script>
    <script>
			function resize() {
					var headerheight = $('header').height();
					var totalheight = $(window).height();
					$('#panorama').height(totalheight - headerheight - (headerheight / 2));
			}
			$(window).resize(function() {
				resize()
			});

			resize()

			$(document).ready(function() {
				$(function() {
					let options = {
					    byRow: false,
					    property: 'height',
					    target: null,
					    remove: false
					}
    			$('.item').matchHeight(options);
				});
				//stabilizes form width which gets mangled by materialize due to valign-wrapper
				$('#form').children('.row')
					.addClass('noMargin')
					.width($(window).width());

				smoothScroll.init();
			});
    </script>
	</body>
</html>
