<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Styles -->
        <link rel="stylesheet" href="css/styleMain.css">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/jquery.matchHeight.js"></script>
    <script src="js/smooth-scroll.js"></script>

    <!-- Parallax Face 1 Intro -->
    <header id="header">
        <div id="top"></div>
        <div class="navbar-fixed">
            <nav id="navbar">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col s2 offset-s5 center">
                            <a data-scroll href="#top">
                                <img class="responsive-img center" src="imgs/lx8.svg" width="35vw" />
                            </a>
                        </div>
                    </div>
                    <ul id="nav-mobile" class="right">
                        <li style="width: auto;"><a class="blue-text text-lighten-2" data-scroll href="#development">Development</a></li>
                        <li style="width: auto;"><a class="blue-text text-lighten-2" href="lx8">Streetview</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div id="index-banner" class="parallax-container hide-on-small-only">
        <div class="parallax">
            <div class="video-container">
                <video class="responsive-video myvideo" autoplay poster="assets/imgs/banner2.jpg" loop>
                    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
                    <source src="assets/videos/cloud.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>


    <!-- Parallax Face 2 Virtual Reality -->
    <div class="section transparent">
        <div class="row container transparent">
            <h2 class="header">Lx8</h2><h4>Developers, Creators, Photographers...</h4>
        </div>
    </div>


    <div class="parallax-container">
        <div class="parallax">
            <img src="assets/imgs/camera_lens_coffee.jpg">
        </div>
    </div>

    <!-- Services Box -->
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row" id="development">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Front-End</h5>

                        <p class="light">We are experts in Front-End Web development. Tell us what you need, we'll do the rest.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Back-end</h5>

                        <p class="light">The team at Lx8 has experience in NodeJS, PHP, and other backend technologies that ensure fast performance no matter your needs</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>
                        <p class="light">Available at your need 12 hours a day via email, phone, and skype. We are here to serve our clients.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Parallax Videos Grid -->
    <div class="parallax-container">
        <div class="parallax">
            <div class="vds_box">
                <div class="text_box">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="149" height="455.3" viewBox="371.4 0 389 595.3" enable-background="new 371.445 0 389 595.279" xml:space="preserve">
                        <path d="M548.8 283.1c-2.1-2.8-70.2-74.2-82.2-87.1 -12-13-22.9-39.7-22.9-64.1 0-55.8 45.2-101 101-101 -63.9 0-115.8 51.8-115.8 115.8 0 3.1 0.2 6.2 0.4 9.3 1.8 22.2 9.8 42.7 22.3 59.6 5 6.7 68.3 82.6 68.3 82.6 3.2 4.2 5.1 9.4 5.1 15 0 6.5-2.6 12.5-6.7 16.9l-55.7 54.5h44.5c18.8-18.3 41-40.2 43.1-43.3 5.5-8 8.7-17.7 8.7-28.2C558.8 301.9 555.1 291.5 548.8 283.1z"
                        />
                        <path d="M578.4 309.7c2.1 2.8 70.2 74.2 82.2 87.1 12 13 22.9 39.7 22.9 64.1 0 55.8-45.2 101-101 101 64 0 115.8-51.8 115.8-115.8 0-3.1-0.2-6.2-0.4-9.3 -1.8-22.2-9.8-42.7-22.3-59.6 -5-6.7-68.3-82.6-68.3-82.6 -3.2-4.2-5.1-9.4-5.1-15 0-6.5 2.6-12.5 6.7-16.9l55.7-54.5h-44.5c-18.8 18.3-41 40.2-43.1 43.3 -5.5 8-8.7 17.7-8.7 28.2C568.3 290.8 572.1 301.3 578.4 309.7z"
                        />
                    </svg>
                </div>
                <ul class="pic_box">
                    <li class="item">
                        <div class="pic_auto pic_auto2">
                            <video autoplay poster="assets/imgs/camera_lens_coffee.jpg" id="bgvid" loop>
                                <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
                                <source src="assets/videos/cloud.mp4" type="video/mp4">
                            </video>
                        </div>
                    </li>
                    <li class="item">
                        <div class="pic_auto pic_auto2">
                            <video autoplay poster="assets/imgs/camera_lens_coffee.jpg" id="bgvid" loop>
                                <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
                                <source src="assets/videos/In-And-Out.mp4" type="video/mp4">
                            </video>
                        </div>
                    </li>
                    <li class="item">
                        <div class="pic_auto pic_auto2">
                            <video autoplay poster="assets/imgs/camera_lens_coffee.jpg" id="bgvid" loop>
                                <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
                                <source src="assets/videos/Plug-and-Play.mp4" type="video/mp4">
                            </video>
                        </div>
                    </li>
                    <li class="item">
                        <div class="pic_auto pic_auto2">
                            <video autoplay poster="assets/imgs/camera_lens_coffee.jpg" id="bgvid" loop>
                                <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
                                <source src="assets/videos/Sunset-Lapse.mp4" type="video/mp4">
                            </video>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="page-footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">Lx8</h5>
                    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="The Brain">
                        <div class="chip">
                            <img src="imgs/alex.jpg" alt="Alexei">
                            Alexei Ferreira
                        </div>
                    </a>
                    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="The Photographer">
                        <div class="chip">
                            <img src="imgs/cata.jpg" alt="Cata">
                            Catarina Silveira
                        </div>
                    </a>
                    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="The Stitcher">
                        <div class="chip">
                            <img src="imgs/foo.jpg" alt="Fourat">
                            Fourat Janabi
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container right">
                <p class="right">
                    © 2016
                </p>
            </div>
        </div>
    </footer>
    <script>
        smoothScroll.init();
    </script>
</body>

</html>
